In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.gridspec as gridspec
from numpy import random
import scipy.stats as scipy

from IPython.display import display

from sklearn.metrics import accuracy_score

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in /anaconda2/envs/py36/lib/python3.6/site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
nfl = pd.ExcelFile('/Users/shannonmayjusman/Downloads/2019 Regular Season Data.xlsx')
df_nfl = nfl.parse('Sheet1')

In [4]:
df_nfl

,Team1,Week,Game Number,Game Location,Team2,Team1_Score,Team2_Score,Team1_Passing,Team1_Rushing,Team1_Turnovers,Team2_Passing,Team2_Rushing,Team2_Turnovers
0,Arizona Cardinals,1,1,NaN,Detroit Lions,27,27,275,112,1,361,116,2
1,Arizona Cardinals,2,2,AWAY,Baltimore Ravens,17,23,329,20,0,258,182,0
2,Arizona Cardinals,3,3,NaN,Carolina Panthers,20,38,127,121,2,240,173,1
3,Arizona Cardinals,4,4,NaN,Seattle Seahawks,10,27,206,115,1,225,115,0
4,Arizona Cardinals,5,5,AWAY,Cincinnati Bengals,26,23,248,266,0,262,108,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,Washington Redskins,13,12,AWAY,Carolina Panthers,29,21,114,248,0,213,65,2
508,Washington Redskins,14,13,AWAY,Green Bay Packers,15,20,141,121,1,167,174,1
509,Washington Redskins,15,14,NaN,Philadelphia Eagles,27,37,251,101,1,258,157,1
510,Washington Redskins,16,15,NaN,New York Giants,35,41,281,80,0,346,206,0
511,Washington Redskins,17,16,AWAY,Dallas Cowboys,16,47,183,88,2,294,223,1

In [5]:
feature_table = df_nfl[['Team1','Team2', 'Team1_Score', 'Team2_Score', 'Team1_Passing', 'Team1_Rushing', 'Team1_Turnovers', 'Team2_Passing', 'Team2_Rushing', 'Team2_Turnovers']]

In [6]:
feature_table

,Team1,Team2,Team1_Score,Team2_Score,Team1_Passing,Team1_Rushing,Team1_Turnovers,Team2_Passing,Team2_Rushing,Team2_Turnovers
0,Arizona Cardinals,Detroit Lions,27,27,275,112,1,361,116,2
1,Arizona Cardinals,Baltimore Ravens,17,23,329,20,0,258,182,0
2,Arizona Cardinals,Carolina Panthers,20,38,127,121,2,240,173,1
3,Arizona Cardinals,Seattle Seahawks,10,27,206,115,1,225,115,0
4,Arizona Cardinals,Cincinnati Bengals,26,23,248,266,0,262,108,0
...,...,...,...,...,...,...,...,...,...,...
507,Washington Redskins,Carolina Panthers,29,21,114,248,0,213,65,2
508,Washington Redskins,Green Bay Packers,15,20,141,121,1,167,174,1
509,Washington Redskins,Philadelphia Eagles,27,37,251,101,1,258,157,1
510,Washington Redskins,New York Giants,35,41,281,80,0,346,206,0
511,Washington Redskins,Dallas Cowboys,16,47,183,88,2,294,223,1

In [7]:
def result(row):
    if row.Team1_Score > row.Team2_Score:
        return 1
    elif row.Team1_Score < row.Team2_Score:
        return -1
    else:
        return 0

In [8]:
feature_table["Winner"] = feature_table.apply(lambda row: result(row),axis=1)

/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
feature_table

,Team1,Team2,Team1_Score,Team2_Score,Team1_Passing,Team1_Rushing,Team1_Turnovers,Team2_Passing,Team2_Rushing,Team2_Turnovers,Winner
0,Arizona Cardinals,Detroit Lions,27,27,275,112,1,361,116,2,0
1,Arizona Cardinals,Baltimore Ravens,17,23,329,20,0,258,182,0,-1
2,Arizona Cardinals,Carolina Panthers,20,38,127,121,2,240,173,1,-1
3,Arizona Cardinals,Seattle Seahawks,10,27,206,115,1,225,115,0,-1
4,Arizona Cardinals,Cincinnati Bengals,26,23,248,266,0,262,108,0,1
...,...,...,...,...,...,...,...,...,...,...,...
507,Washington Redskins,Carolina Panthers,29,21,114,248,0,213,65,2,1
508,Washington Redskins,Green Bay Packers,15,20,141,121,1,167,174,1,-1
509,Washington Redskins,Philadelphia Eagles,27,37,251,101,1,258,157,1,-1
510,Washington Redskins,New York Giants,35,41,281,80,0,346,206,0,-1
511,Washington Redskins,Dallas Cowboys,16,47,183,88,2,294,223,1,-1

In [10]:
X = feature_table[['Team1_Score', 'Team2_Score', 'Team1_Passing', 'Team1_Rushing', 'Team1_Turnovers', 'Team2_Passing', 'Team2_Rushing', 'Team2_Turnovers']]
y = feature_table['Winner']

In [11]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [13]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train) #training the algorithm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
y_pred = regressor.predict(X_test)

In [15]:
y_pred

array([ 1.12163936, -0.26285499,  0.44185752,  0.86750942, -0.67708838,
        0.06738013, -0.36132946, -0.47148594,  0.63528884, -1.29840183,
        0.13751917, -0.13633924, -2.1972936 ,  0.39787444, -0.00832518,
        0.25827934,  0.74940326, -0.39775967, -0.79026927,  1.15452787,
        0.46665937, -1.06632088, -0.65281324,  0.32541933, -0.07269375,
        0.1712012 , -0.0777424 ,  0.11585891,  0.8700587 , -0.06741542,
        0.179595  , -0.17805994, -0.89942413,  0.3237644 , -0.67503634,
       -0.76348966,  0.064945  , -1.33711218,  0.1982009 ,  0.75836201,
        0.09121939,  0.02847502, -0.44463787, -0.11959104,  0.25816519,
        0.27824254,  1.52543715, -0.63293449,  0.72822752, -0.48105217,
       -0.22133373,  0.75111704,  0.54212345, -0.74118967,  1.00007096,
       -0.94176439,  0.71241344, -0.34952537,  0.15293826, -0.39745293,
       -0.04208174,  0.51903132, -0.40837265, -0.33128557, -0.69494959,
       -0.02423189,  0.13142269,  0.44163825, -0.37931581,  0.29327133,
       -0.1685332 ,  0.41844951, -0.88415136, -1.087465  , -1.86974919,
       -0.49945479,  0.51429326,  0.61506464, -0.23610051, -1.69455668,
        0.87042853, -0.72583779, -0.4123628 , -0.21404344, -0.83427912,
       -0.24813529, -1.2159839 , -0.14065609,  0.66243076, -1.49001776,
        0.67950516, -0.50574703, -0.87769269, -1.00233228, -0.3225621 ,
        1.34390718, -0.89024795,  1.00440612,  0.93064136, -0.80014019,
       -0.23895382,  0.25442623, -0.3572041 ])

In [16]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [17]:
df

     Actual  Predicted
283       1   1.121639
100      -1  -0.262855
37        1   0.441858
46        1   0.867509
374      -1  -0.677088
..      ...        ...
309       1   0.930641
379      -1  -0.800140
56       -1  -0.238954
188       1   0.254426
60       -1  -0.357204

[103 rows x 2 columns]

In [18]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.5340075529132859
Mean Squared Error: 0.3765343325706763
Root Mean Squared Error: 0.613623934157295

In [19]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
%matplotlib inline  
from sklearn.svm import SVC
from sklearn import linear_model

In [20]:
clf = [MultinomialNB(alpha=10), SVC(kernel = 'linear', C=1.5, probability=True), LogisticRegression()]

labels = [ 'Naive Bayes', 'SVM', 'Log regres']

mean_scores = []
cms = []

for i in range(0,3):

    clf[i].fit(X_train,y_train)

    scores = cross_val_score(clf[i], X_train, y_train, cv=10)
    print (labels[i]," : ", scores.mean(),)
    
    mean_scores.append(scores.mean())

/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

Naive Bayes  :  0.6883031805592781

/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

SVM  :  0.9758331099794514
Log regres  :  0.9952380952380953

/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda2/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [21]:
pip install statsmodels

Requirement already satisfied: statsmodels in /anaconda2/envs/py36/lib/python3.6/site-packages (0.11.0)
Requirement already satisfied: scipy>=1.0 in /anaconda2/envs/py36/lib/python3.6/site-packages (from statsmodels) (1.3.1)
Requirement already satisfied: numpy>=1.14 in /anaconda2/envs/py36/lib/python3.6/site-packages (from statsmodels) (1.17.3)
Requirement already satisfied: pandas>=0.21 in /anaconda2/envs/py36/lib/python3.6/site-packages (from statsmodels) (0.25.3)
Requirement already satisfied: patsy>=0.5 in /anaconda2/envs/py36/lib/python3.6/site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /anaconda2/envs/py36/lib/python3.6/site-packages (from pandas>=0.21->statsmodels) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /anaconda2/envs/py36/lib/python3.6/site-packages (from pandas>=0.21->statsmodels) (2.8.0)
Requirement already satisfied: six in /anaconda2/envs/py36/lib/python3.6/site-packages (from patsy>=0.5->statsmodels) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
from scipy.stats import poisson,skellam

In [23]:
df_nfl

,Team1,Week,Game Number,Game Location,Team2,Team1_Score,Team2_Score,Team1_Passing,Team1_Rushing,Team1_Turnovers,Team2_Passing,Team2_Rushing,Team2_Turnovers
0,Arizona Cardinals,1,1,NaN,Detroit Lions,27,27,275,112,1,361,116,2
1,Arizona Cardinals,2,2,AWAY,Baltimore Ravens,17,23,329,20,0,258,182,0
2,Arizona Cardinals,3,3,NaN,Carolina Panthers,20,38,127,121,2,240,173,1
3,Arizona Cardinals,4,4,NaN,Seattle Seahawks,10,27,206,115,1,225,115,0
4,Arizona Cardinals,5,5,AWAY,Cincinnati Bengals,26,23,248,266,0,262,108,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,Washington Redskins,13,12,AWAY,Carolina Panthers,29,21,114,248,0,213,65,2
508,Washington Redskins,14,13,AWAY,Green Bay Packers,15,20,141,121,1,167,174,1
509,Washington Redskins,15,14,NaN,Philadelphia Eagles,27,37,251,101,1,258,157,1
510,Washington Redskins,16,15,NaN,New York Giants,35,41,281,80,0,346,206,0
511,Washington Redskins,17,16,AWAY,Dallas Cowboys,16,47,183,88,2,294,223,1

In [24]:
df = df_nfl.loc[df_nfl['Game Location'] != "AWAY"]

In [25]:
df

,Team1,Week,Game Number,Game Location,Team2,Team1_Score,Team2_Score,Team1_Passing,Team1_Rushing,Team1_Turnovers,Team2_Passing,Team2_Rushing,Team2_Turnovers
0,Arizona Cardinals,1,1,NaN,Detroit Lions,27,27,275,112,1,361,116,2
2,Arizona Cardinals,3,3,NaN,Carolina Panthers,20,38,127,121,2,240,173,1
3,Arizona Cardinals,4,4,NaN,Seattle Seahawks,10,27,206,115,1,225,115,0
5,Arizona Cardinals,6,6,NaN,Atlanta Falcons,34,33,340,102,0,341,103,0
8,Arizona Cardinals,9,9,NaN,San Francisco 49ers,25,28,204,153,0,310,101,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,Washington Redskins,7,7,NaN,San Francisco 49ers,0,9,50,104,1,146,137,1
505,Washington Redskins,11,10,NaN,New York Jets,17,34,171,54,1,285,115,2
506,Washington Redskins,12,11,NaN,Detroit Lions,19,16,144,86,2,189,175,4
509,Washington Redskins,15,14,NaN,Philadelphia Eagles,27,37,251,101,1,258,157,1
510,Washington Redskins,16,15,NaN,New York Giants,35,41,281,80,0,346,206,0

In [26]:
skellam.pmf(0.0,  df['Team1_Score'].mean(),  df['Team2_Score'].mean())

0.059213228508985125

In [27]:
skellam.pmf(1,  df['Team1_Score'].mean(),  df['Team2_Score'].mean())

0.05838045895313388

In [28]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [29]:
poisson_model = smf.glm(formula="Team1_Score ~ Team1 + Team2 + Team1_Passing + Team1_Rushing + Team1_Turnovers + Team2_Passing + Team2_Rushing + Team2_Turnovers", data=df, 
                        family=sm.families.Poisson()).fit()
poisson_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:            Team1_Score   No. Observations:                  256
Model:                            GLM   Df Residuals:                      187
Model Family:                 Poisson   Df Model:                           68
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -841.55
Date:                Sat, 01 Feb 2020   Deviance:                       450.34
Time:                        19:37:07   Pearson chi2:                     410.
No. Iterations:                     4
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                         1.4849      0.163      9.116      0.000       1.166       1.804
Team1[T.Atlanta Falcons]         -0.2287      0.118     -1.936      0.053      -0.460       0.003
Team1[T.Baltimore Ravens]         0.0970      0.112      0.865      0.387      -0.123       0.317
Team1[T.Buffalo Bills]           -0.1389      0.123     -1.125      0.261      -0.381       0.103
Team1[T.Carolina Panthers]       -0.1460      0.116     -1.254      0.210      -0.374       0.082
Team1[T.Chicago Bears]            0.0150      0.125      0.120      0.905      -0.231       0.261
Team1[T.Cincinnati Bengals]       0.0489      0.117      0.418      0.676      -0.180       0.278
Team1[T.Cleveland Browns]         0.0591      0.115      0.516      0.606      -0.165       0.284
Team1[T.Dallas Cowboys]          -0.1089      0.111     -0.985      0.324      -0.325       0.108
Team1[T.Denver Broncos]           0.0983      0.119      0.822      0.411      -0.136       0.332
Team1[T.Detroit Lions]           -0.0034      0.116     -0.029      0.977      -0.230       0.223
Team1[T.Green Bay Packers]       -0.1844      0.111     -1.655      0.098      -0.403       0.034
Team1[T.Houston Texans]          -0.0716      0.111     -0.644      0.519      -0.289       0.146
Team1[T.Indianapolis Colts]       0.0789      0.111      0.709      0.478      -0.139       0.297
Team1[T.Jacksonville Jaguars]    -0.0722      0.122     -0.592      0.554      -0.311       0.167
Team1[T.Kansas City Chiefs]       0.1381      0.112      1.231      0.218      -0.082       0.358
Team1[T.Los Angeles Chargers]    -0.0228      0.121     -0.188      0.851      -0.260       0.215
Team1[T.Los Angeles Rams]        -0.0737      0.116     -0.636      0.525      -0.301       0.153
Team1[T.Miami Dolphins]           0.0452      0.121      0.375      0.707      -0.191       0.282
Team1[T.Minnesota Vikings]       -0.0403      0.113     -0.358      0.720      -0.261       0.180
Team1[T.New England Patriots]     0.1282      0.114      1.125      0.261      -0.095       0.352
Team1[T.New Orleans Saints]       0.0248      0.109      0.228      0.820      -0.188       0.238
Team1[T.New York Giants]          0.0057      0.122      0.047      0.962      -0.233       0.245
Team1[T.New York Jets]           -0.0007      0.121     -0.006      0.995      -0.239       0.237
Team1[T.Oakland Raiders]         -0.1141      0.115     -0.990      0.322      -0.340       0.112
Team1[T.Philadelphia Eagles]     -0.0653      0.117     -0.557      0.578      -0.295       0.165
Team1[T.Pittsburgh Steelers]      0.1796      0.120      1.491      0.136      -0.056       0.416
Team1[T.San Francisco 49ers]      0.3143      0.107      2.940      0.003       0.105       0.524
Team1[T.Seattle Seahawks]        -0.0632      0.113     -0.560      0.575      -0.284       0.158
Team1[T.Tampa Bay Buccaneers]     0.0650      0.118      0.550      0.583      -0.167       0.297
Team1[T.Tennessee Titans]         0.0483      0.114      0.424      0.672      -0.175       0.272
Team1[T.Washington Redskins]     -0.0648      0.121     -0.537      0.592      -0.302       0.172
Team2[T.Atlanta Falcons]          0.0557      0.107      0.520      0.603      -0.154       0.266
Team2[T.Baltimore Ravens]        -0.0703      0.123     -0.574      0.566      -0.311       0.170
Team2[T.Buffalo Bills]           -0.1640      0.123     -1.331      0.183      -0.406       0.078
Team2[T.Carolina Panthers]        0.2475      0.105      2.355      0.019       0.042       0.453
Team2[T.Chicago Bears]            0.0770      0.119      0.648      0.517      -0.156       0.310
Team2[T.Cincinnati Bengals]      -0.0216      0.107     -0.202      0.840      -0.231       0.187
Team2[T.Cleveland Browns]        -0.0877      0.109     -0.808      0.419      -0.301       0.125
Team2[T.Dallas Cowboys]           0.0402      0.114      0.351      0.725      -0.184       0.264
Team2[T.Denver Broncos]           0.1537      0.115      1.342      0.180      -0.071       0.378
Team2[T.Detroit Lions]            0.1409      0.113      1.251      0.211      -0.080       0.362
Team2[T.Green Bay Packers]        0.0181      0.116      0.157      0.875      -0.208       0.245
Team2[T.Houston Texans]          -0.1352      0.107     -1.263      0.207      -0.345       0.075
Team2[T.Indianapolis Colts]       0.2462      0.106      2.330      0.020       0.039       0.453
Team2[T.Jacksonville Jaguars]     0.0696      0.114      0.610      0.542      -0.154       0.293
Team2[T.Kansas City Chiefs]      -0.1511      0.122     -1.238      0.216      -0.390       0.088
Team2[T.Los Angeles Chargers]    -0.0026      0.118     -0.022      0.982      -0.234       0.228
Team2[T.Los Angeles Rams]         0.1120      0.113      0.994      0.320      -0.109       0.333
Team2[T.Miami Dolphins]           0.1495      0.109      1.378      0.168      -0.063       0.362
Team2[T.Minnesota Vikings]        0.0577      0.113      0.512      0.609      -0.163       0.279
Team2[T.New England Patriots]    -0.0505      0.131     -0.386      0.700      -0.307       0.206
Team2[T.New Orleans Saints]       0.1715      0.114      1.501      0.133      -0.052       0.395
Team2[T.New York Giants]          0.1832      0.103      1.778      0.075      -0.019       0.385
Team2[T.New York Jets]            0.3119      0.108      2.883      0.004       0.100       0.524
Team2[T.Oakland Raiders]          0.3026      0.106      2.849      0.004       0.094       0.511
Team2[T.Philadelphia Eagles]      0.2365      0.108      2.195      0.028       0.025       0.448
Team2[T.Pittsburgh Steelers]      0.0583      0.112      0.520      0.603      -0.162       0.278
Team2[T.San Francisco 49ers]      0.0136      0.111      0.123      0.902      -0.204       0.232
Team2[T.Seattle Seahawks]         0.0254      0.114      0.222      0.824      -0.198       0.249
Team2[T.Tampa Bay Buccaneers]     0.2481      0.106      2.333      0.020       0.040       0.457
Team2[T.Tennessee Titans]        -0.0743      0.119     -0.623      0.533      -0.308       0.159
Team2[T.Washington Redskins]      0.2423      0.112      2.166      0.030       0.023       0.462
Team1_Passing                     0.0032      0.000     14.258      0.000       0.003       0.004
Team1_Rushing                     0.0040      0.000     11.078      0.000       0.003       0.005
Team1_Turnovers                  -0.0752      0.013     -5.660      0.000      -0.101      -0.049
Team2_Passing                     0.0008      0.000      3.850      0.000       0.000       0.001
Team2_Rushing                     0.0009      0.000      2.490      0.013       0.000       0.002
Team2_Turnovers                   0.0846      0.014      6.167      0.000       0.058       0.112
=================================================================================================
"""

In [30]:
def average_performance(teamName):
    df1 = df.loc[df['Team1'] == teamName]
    df2 = df.loc[df['Team2'] == teamName]
    df1 = df1[['Team1_Passing', 'Team1_Rushing', 'Team1_Turnovers']]
    df2 = df2[['Team2_Passing', 'Team2_Rushing', 'Team2_Turnovers']]
    result = pd.concat([df1,df2.rename(columns={'Team2_Passing':'Team1_Passing', 'Team2_Rushing':'Team1_Rushing', 'Team2_Turnovers':'Team1_Turnovers' })], ignore_index=True)
    return(result.mean())
        
    #calculate the team's average passing, rushing, and turnovers

In [31]:
average_performance('New York Giants')

Team1_Passing      233.1875
Team1_Rushing      105.3125
Team1_Turnovers      2.0625
dtype: float64

In [32]:
def simulate_match(foot_model, t1, t2, max_score = 100):
    team1_stats = average_performance(t1)
    team2_stats = average_performance(t2)
    team1_score_avg = foot_model.predict(pd.DataFrame(data={'Team1': t1, 'Team2': t2, 'Team1_Passing':team1_stats[0], 'Team1_Rushing':team1_stats[1], 'Team1_Turnovers':team1_stats[2],
                                                            'Team2_Passing':team2_stats[0], 'Team2_Rushing':team2_stats[1], 'Team2_Turnovers':team2_stats[2]},
                                                            index=[1])).values[0]
    team2_score_avg = foot_model.predict(pd.DataFrame(data={'Team1': t2, 'Team2': t1, 'Team2_Passing':team1_stats[0], 'Team2_Rushing':team1_stats[1], 'Team2_Turnovers':team1_stats[2],
                                                            'Team1_Passing':team2_stats[0], 'Team1_Rushing':team2_stats[1], 'Team1_Turnovers':team2_stats[2]},
                                                            index=[1])).values[0]
    team_pred = [[poisson.pmf(i, team_avg) for i in range(0, max_score+1)] for team_avg in [team1_score_avg, team2_score_avg]]
    return[(np.outer(np.array(team_pred[0]), np.array(team_pred[1]))), team1_score_avg, team2_score_avg]

In [33]:
match = simulate_match(poisson_model, 'New York Giants', 'Arizona Cardinals', max_score = 60)
#NY Giants win
np.sum(np.tril(match[0], -1))

0.11066266716262357

In [34]:
#Draw
np.sum(np.diag(match[0]))

0.03171207562297995

In [35]:
#Arizona Cardinals win
np.sum(np.triu(match[0], 1))

0.8576252555004489

In [36]:
match[1]

17.954300185245348

In [37]:
match[2]

25.480755175391064

In [38]:
match2 = simulate_match(poisson_model, 'San Francisco 49ers', 'Green Bay Packers', max_score = 60)
#SF 49ers win
np.sum(np.tril(match2[0], -1))

0.9533614239089157

In [39]:
#Draw
np.sum(np.diag(match2[0]))

0.012628873200070025

In [40]:
#Green Bay Packers
np.sum(np.triu(match2[0], 1))

0.03400918860573002

In [41]:
#match2[1]

In [42]:
#match2[2]

In [43]:
match3 = simulate_match(poisson_model, 'Kansas City Chiefs', 'Tennessee Titans', max_score = 100)
#Kansas City win
np.sum(np.tril(match3[0], -1))

0.7098894690949221

In [44]:
#match3[1]

In [45]:
#match3[2]

In [46]:
match4 = simulate_match(poisson_model, 'Green Bay Packers', 'Seattle Seahawks', max_score = 100)
#Green Bay Packers win
np.sum(np.tril(match4[0], -1))

0.31286457789688343

In [47]:
np.sum(np.diag(match4[0]))

0.059624021421382935

In [48]:
np.sum(np.triu(match4[0], 1))

0.627511400681736

In [49]:
match5 = simulate_match(poisson_model, 'Kansas City Chiefs', 'Houston Texans', max_score = 100)
#Kansas City Chiefs win
np.sum(np.tril(match5[0], -1))

0.8161526540953091

In [54]:
match6 = simulate_match(poisson_model, 'San Francisco 49ers', 'Kansas City Chiefs', max_score = 100) 
#San Francisco 49ers win
np.sum(np.tril(match6[0], -1))

0.433421509973901

In [55]:
#Kansas City Chiefs win
np.sum(np.tril(match6[0], 1))

0.5423532051335547

In [52]:
match6[1]

26.437984660831937

In [53]:
match6[2]

27.163942381806283

In [56]:
df

,Team1,Week,Game Number,Game Location,Team2,Team1_Score,Team2_Score,Team1_Passing,Team1_Rushing,Team1_Turnovers,Team2_Passing,Team2_Rushing,Team2_Turnovers
0,Arizona Cardinals,1,1,NaN,Detroit Lions,27,27,275,112,1,361,116,2
2,Arizona Cardinals,3,3,NaN,Carolina Panthers,20,38,127,121,2,240,173,1
3,Arizona Cardinals,4,4,NaN,Seattle Seahawks,10,27,206,115,1,225,115,0
5,Arizona Cardinals,6,6,NaN,Atlanta Falcons,34,33,340,102,0,341,103,0
8,Arizona Cardinals,9,9,NaN,San Francisco 49ers,25,28,204,153,0,310,101,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,Washington Redskins,7,7,NaN,San Francisco 49ers,0,9,50,104,1,146,137,1
505,Washington Redskins,11,10,NaN,New York Jets,17,34,171,54,1,285,115,2
506,Washington Redskins,12,11,NaN,Detroit Lions,19,16,144,86,2,189,175,4
509,Washington Redskins,15,14,NaN,Philadelphia Eagles,27,37,251,101,1,258,157,1
510,Washington Redskins,16,15,NaN,New York Giants,35,41,281,80,0,346,206,0

In [88]:
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [57]:
import statsmodels.api as sm

In [59]:
target = df["Team1_Score"]

In [62]:
import statsmodels.api as sm

X = df[["Team2_Score", "Team1_Passing", "Team1_Rushing", "Team1_Turnovers", "Team2_Passing", "Team2_Rushing", "Team2_Turnovers"]]
y = target

# Note the difference in argument order
model = sm.OLS(y, X).fit()
predictions = model.predict(X) # make the predictions by the model

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:            Team1_Score   R-squared (uncentered):                   0.933
Model:                            OLS   Adj. R-squared (uncentered):              0.931
Method:                 Least Squares   F-statistic:                              495.9
Date:                Sat, 01 Feb 2020   Prob (F-statistic):                   2.78e-142
Time:                        20:04:29   Log-Likelihood:                         -839.10
No. Observations:                 256   AIC:                                      1692.
Df Residuals:                     249   BIC:                                      1717.
Df Model:                           7
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Team2_Score         0.1934      0.064      3.036      0.003       0.068       0.319
Team1_Passing       0.0625      0.004     14.100      0.000       0.054       0.071
Team1_Rushing       0.0768      0.007     10.977      0.000       0.063       0.091
Team1_Turnovers    -2.4253      0.339     -7.144      0.000      -3.094      -1.757
Team2_Passing      -0.0106      0.006     -1.703      0.090      -0.023       0.002
Team2_Rushing      -0.0172      0.008     -2.154      0.032      -0.033      -0.001
Team2_Turnovers     2.3441      0.365      6.429      0.000       1.626       3.062
==============================================================================
Omnibus:                        1.706   Durbin-Watson:                   2.194
Prob(Omnibus):                  0.426   Jarque-Bera (JB):                1.772
Skew:                           0.161   Prob(JB):                        0.412
Kurtosis:                       2.749   Cond. No.                         362.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [102]:
y_true = df['Team1_Score']
y_pred = predictions

In [103]:
print(metrics.mean_absolute_error(y_true, y_pred))
print(metrics.mean_squared_error(y_true, y_pred))
print(np.sqrt(metrics.mean_squared_error(y_true, y_pred)))

5.1191994666094685
40.06528904446226
6.32971476801777

Team1_Score = 0.1934*Team2_Score + 0.0625*Team1_Passing + 0.0768*Team1_Rushing - 2.4253*Team1_Turnovers - 0.0106*Team2_Passing - 0.0172 * Team2_Rushing + 2.3441*Team2_Turnovers

In [69]:
def avg_performance(teamName):
    df1 = df.loc[df['Team1'] == teamName]
    df2 = df.loc[df['Team2'] == teamName]
    df1 = df1[['Team1_Passing', 'Team1_Rushing', 'Team1_Turnovers', 'Team1_Score']]
    df2 = df2[['Team2_Passing', 'Team2_Rushing', 'Team2_Turnovers', 'Team2_Score']]
    result = pd.concat([df1,df2.rename(columns={'Team2_Passing':'Team1_Passing', 'Team2_Rushing':'Team1_Rushing', 'Team2_Turnovers':'Team1_Turnovers', 'Team2_Score':'Team1_Score'})], ignore_index=True)
    return(result.mean())

In [70]:
avg_performance("San Francisco 49ers")

Team1_Passing      237.0000
Team1_Rushing      144.0625
Team1_Turnovers      1.4375
Team1_Score         29.9375
dtype: float64

In [71]:
avg_performance("Kansas City Chiefs")

Team1_Passing      281.1250
Team1_Rushing       98.0625
Team1_Turnovers      0.9375
Team1_Score         28.1875
dtype: float64

In [72]:
predicted_49ers = 0.1934*28.1875 + 0.0625*237.0000 + 0.0768*144.0625 - 2.4253*1.4375 - 0.0106*281.1250 - 0.0172 * 98.0625 + 2.3441*0.9375

In [73]:
predicted_49ers

25.372587499999995

In [74]:
predicted_chiefs = 0.1934*29.9375 + 0.0625*281.1250 + 0.0768*98.0625 - 2.4253*0.9375 - 0.0106*237.0000 - 0.0172 * 144.0625 + 2.3441*1.4375

In [75]:
predicted_chiefs

26.997275

In [131]:
import statsmodels.api as sm

X2 = df[["Team2_Score", "Team1_Passing", "Team1_Rushing", "Team1_Turnovers", "Team2_Rushing", "Team2_Turnovers"]]
y2 = target

# Note the difference in argument order
model2 = sm.OLS(y2, X2).fit()
predictions2 = model2.predict(X2) # make the predictions by the model

# Print out the statistics
model2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:            Team1_Score   R-squared (uncentered):                   0.932
Model:                            OLS   Adj. R-squared (uncentered):              0.931
Method:                 Least Squares   F-statistic:                              573.7
Date:                Sun, 02 Feb 2020   Prob (F-statistic):                   4.70e-143
Time:                        10:04:45   Log-Likelihood:                         -840.58
No. Observations:                 256   AIC:                                      1693.
Df Residuals:                     250   BIC:                                      1714.
Df Model:                           6
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Team2_Score         0.1200      0.047      2.548      0.011       0.027       0.213
Team1_Passing       0.0598      0.004     14.389      0.000       0.052       0.068
Team1_Rushing       0.0729      0.007     10.989      0.000       0.060       0.086
Team1_Turnovers    -2.2379      0.322     -6.942      0.000      -2.873      -1.603
Team2_Rushing      -0.0146      0.008     -1.852      0.065      -0.030       0.001
Team2_Turnovers     2.1772      0.353      6.176      0.000       1.483       2.871
==============================================================================
Omnibus:                        1.784   Durbin-Watson:                   2.135
Prob(Omnibus):                  0.410   Jarque-Bera (JB):                1.870
Skew:                           0.188   Prob(JB):                        0.393
Kurtosis:                       2.816   Cond. No.                         264.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [137]:
y_pred2 = predictions2
print(metrics.mean_absolute_error(y_true, y_pred2))
print(metrics.mean_squared_error(y_true, y_pred2))
print(np.sqrt(metrics.mean_squared_error(y_true, y_pred2)))

5.197469790596419
41.64367991000863
6.4531914515229305

In [132]:
predicted2_49ers = 0.12 * 28.1875 + 0.0598 * 237.0000 + 0.0729 * 144.0625 - 2.2379 * 1.4375 - 0.0146 * 98.0625 + 2.1772 * 0.9375

In [133]:
predicted2_49ers

25.449687500000003

In [134]:
predicted2_chiefs = 0.12 * 29.9375 + 0.0598 * 281.1250 + 0.0729 * 98.0625 - 2.2379 * 0.9375 - 0.0146 * 144.0625 + 2.1772 *  1.4375

In [135]:
predicted2_chiefs

26.480912500000002